*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.carousel {
    top: 60px;
    width: 100vw;
    height: 91vh;
    position: relative;
    overflow: hidden;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 300ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] > img {
    z-index: 1;
}

.slide[data-active] {
    opacity: 1;
    transition-delay: 200ms;
}

.carousel-button {
    position: absolute;
    z-index: 4;
    background: none;
    border: none;
    font-size: 5rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
}

.carousel-button:hover,
.carousel-button:active {
    color: white;
}

.carousel-button:active {
    background-color: rgba(0, 0, 0, .2);
    outline: 1px solid rgba(0, 0, 0, .5);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

/* info */
.slide > .info {
    z-index: 4;
    position: absolute;
    width: 45%;
    height: auto;
    top: 20%;
    left: 8%;
    cursor: default;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
}

.slide[data-active] > .info {
    z-index: 4;
    opacity: 1;
}

.title-img {
    max-height: 100px;
    margin: 20px 0px;
}

.rate-year {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}

p {
    margin: 0px 4px;
    color: #FFFFFF;
    font-size: 18px;
}

.rating {
    color: #3E96DB;
}

.description {
    width: 100%;
    margin: 8px 0px;
}

/* poster */
.slide .poster {
    z-index: 4;
    position: absolute;
    width: auto;
    height: 95%;
    background-size: cover;
    opacity: 0;
    animation: moveout 1600ms ease-in forwards;
    animation-delay: -300ms;
}

.slide[data-active] .poster {
    animation: movein 300ms ease-out forwards;
    animation-delay: 500ms;
} 

@keyframes movein {
    0% {opacity: 0%; right: -20%;}
    100% {opacity: 100%; right: 10%;}
}

@keyframes moveout {
    0% {opacity: 100%; right: 10%;}
    25% {opacity: 100%; right: 12%;}
    60% {opacity: 0%; right: 20%;}
    100% {opacity: 0%; right: 20%;}
}

/* shadow */
.shadow {
    z-index: 2;
    position: absolute;
    height: 91vh;
    top: 60px;
    right: 0px;
    left: 0px;
}

.shadow-left {
    z-index: 2;
    position: absolute;
    width: 60%;
    height: 100%;
    background: linear-gradient(270deg, rgba(17, 19, 25, 0) 54%, #111319 112%);
}

.shadow-bottom {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(17, 19, 25, 0) 60%, #111319 120%);
}