* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.search {
    width: 300px;
    height: 36px;
    background: rgba(68, 69, 72, 0.5);
    border: 1px solid #555659;
    box-sizing: border-box;
    border-radius: 15px;
    justify-content: flex-end;
}

/* body {
    height: 2086px;
    background: #111319;
} */

