@media screen and (max-width: 425px) {
    :host {
        width: 25px;
        transition: all 300ms ease-in;
    }

    :host(.show-bar) {
        width: 150px;
        transition: all 300ms ease-in;
    }

    :host .search-input {
        height: 25px;
        transition: all 300ms ease-in;
    }
    
    :host(.show-bar) .search-input {
        width: 100%;
        transition: all 300ms ease-in;
    }
    
    :host .search-input input {
        height: 25px;
        visibility: hidden;
        font-size: 14px;
        padding: 0 70px 0 15px;
        transition: all 100ms ease-in;
    }
    
    :host(.show-bar) .search-input input {
        visibility: visible;
        transition: all 200ms ease-in;
        transition-delay: 200ms;
    }
    
    :host .search-input .search-btn {
        position: absolute;
        top: 3px;
        right: 5px;
        width: 15px;
        height: 17px;
    }
}